# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store

# Data
app/data/*.csv
!app/data/sample_locations.csv
!app/data/sample_training.csv
